*{
	z-index: 5;
}
html, body {
	height:100vh;
	background-color:#114B5F;
}
.divider {
	background-color:#114B5F;
    text-align: center;
    font-size: .5em;
    height: .5em;
    min-height: .5em;
}
nav{
	background-color: #88D498
}
.nav-item2{
	border-radius: 10em!important;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	font-size:1.0em;
}
.nav-link2:hover{
	background-color: #C6DABF!important;
	color:#114B5F;
	border-radius: 10em!important;
}
.nav-link2.active {
	border-radius: 10em!important;
	color:#114B5F!important;
	background-color: #C6DABF!important;
}
.navbar-dark.nav-item{
	color:white!important;
}
.dropdown-menu {
	border-radius: 0;
	border-bottom-left-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
	background-color: #88D498;
	border: 0;
	left: 50%;
	transform: translateX(-50%);
	color:white;
 }
 .dropdown-item{
	color:white;
}
.dropdown-item:hover{
	background-color: #C6DABF;
	border-radius: 10em;
	color:white;
}
p{
	font-size:1.1em;
}

.jumbotron {
	background-color: #88D498
}

span>a{
	color:white;
}
span>a:hover{
	color:white;
}
.badge{
	margin: .3em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.card{
	border: 0;
	border-radius: 1.5em;

}
.card-body{
	color:#C6DABF;
	background-color: #1A936F;
	border-radius: 0;
	border-bottom-left-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}
.card-img-top{
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
}
.card-title {
	color:#C6DABF;
	
}
.card-title:hover{
	color: white;
}